.test{
    width: 1000px;
    height: 1000px;
    background-color: green;
}


@media screen and (max-width: 1024px){
    .test{
        width:500px;
        height: 500px;
        background-color: red;
    }

    .test:hover{
        background-color: blue;
    }
}